<a href="{{@site.url}}" class="gh-header-author-wrapper" aria-label="{{t "Author page link"}}">
    {{#get "authors" limit="1"}}
        {{#if authors}}
            {{#foreach authors}}
                {{#if profile_image}}
                    <picture>
                        <source srcset="{{img_url profile_image size="100" format="webp" }} 100w, {{img_url profile_image size="200"
                            format="webp" }} 200w" sizes="40px" type="image/webp">
                        <img class="gh-header-author-image" srcset="{{img_url profile_image size="100"}} 100w, {{img_url profile_image
                            size="200" }} 200w" sizes="40px" src="{{img_url profile_image size="200"}}" alt="{{name}} {{t "profile image"}}" />
                    </picture>
                {{else}}
                    <img class="gh-header-author-image" src="{{asset "imagesAndIcons/AuthorAvatarDefault.jpg"}}" alt="{{name}} {{t "profile image"}}">
                {{/if}}
                <span class="gh-site-title-author">{{name}}</span>
            {{/foreach}}
        {{else}}
            <span class="gh-site-title">{{@site.title}}</span>
        {{/if}}
    {{/get}}
</a>