{{!< default}} 

{{#post}} 

<main class="gh-post-page-wrapper">
    <article class="gh-post-page {{post_class}}">
        {{#if featured}}
        <div class="gh-post-head">
            {{#if feature_image}}
            <picture>
                <source srcset="{{img_url feature_image size="3000" format="webp" }} 3000w, {{img_url feature_image size="2400"
                    format="webp" }} 2400w, {{img_url feature_image size="2000" format="webp" }} 2000w, {{img_url feature_image
                    size="1600" format="webp" }} 1600w, {{img_url feature_image size="1000" format="webp" }} 1000w, {{img_url
                    feature_image size="800" format="webp" }} 800w, {{img_url feature_image size="500" format="webp" }} 500w"
                    sizes="100vw" type="image/webp">
                <img srcset="{{img_url feature_image size="3000" }} 3000w, {{img_url feature_image size="2400" }} 2400w, {{img_url
                    feature_image size="2000" }} 2000w, {{img_url feature_image size="1600" }} 1600w, {{img_url feature_image
                    size="1000" }} 1000w, {{img_url feature_image size="800" }} 800w, {{img_url feature_image size="500" }} 500w"
                    sizes="100vw" src="{{img_url feature_image size="3000"}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" class="gh-post-feature-image" />
            </picture>
            {{else}}
            <div class="gh-post-feature-image-plug"></div>
            {{/if}}
            <div class="gh-post-head-wrapper gh-container{{#match @custom.header_type "Logo with bottom navigation" }}
                with-big-header{{else match @custom.header_type "Author with bottom navigation" }} with-big-header{{/match}}">
                {{> "breadcrumbs"}}
                <div class="gh-post-head-content">
                    <div class="gh-post-head-content-container">
                        <div class="gh-post-head-meta">
                            {{#if authors}}
                            <div class="gh-post-head-authors">
                                <span class="gh-post-head-author-span">{{t "By"}}</span>
                                {{#foreach authors}}
                                <a class="gh-post-head-author" href="{{url}}">
                                    {{#if profile_image}}
                                    <picture>
                                        <source srcset="{{img_url profile_image size="200" format="webp" }} 200w, {{img_url
                                            profile_image size="100" format="webp" }} 100w" sizes="36px" type="image/webp">
                                        <img class="gh-post-head-author-image" srcset="{{img_url profile_image size="200"}}
                                            200w, {{img_url profile_image size="100" }} 100w" sizes="36px"
                                           src="{{img_url profile_image size="200"}}" alt="{{name}} {{t "profile image"}}" />
                                    </picture>
                                    {{else}}
                                    <img class="gh-post-head-author-image" src="{{asset "
                                        imagesAndIcons/AuthorAvatarDefault.jpg"}}" alt="{{name}} {{t "profile image"}}">
                                    {{/if}}
                                    <span class="gh-post-head-author-name">{{name}}</span>
                                </a>
                                {{/foreach}}
                            </div>
                            {{/if}}
                            <span class="gh-post-head-date">
                                <time datetime="{{date format=" YYYY-MM-DD"}}">{{date format="MMM D, YYYY"}}</time>
                            </span>
                            {{#if reading_time}}
                            <span class="gh-post-head-read-time">{{reading_time}}</span>
                            {{/if}}
                        </div>
                        <h1 class="gh-post-page-title">{{title}}</h1>
                        {{#if excerpt}}
                        <p class="gh-post-page-excerpt">{{excerpt}}</p>
                        {{/if}}
                    </div>
                    <div class="gh-post-head-share-block">
                        {{>share-block}}
                    </div>
                </div>
            </div>
        </div>
        {{else}}
        <div class="gh-container">
            {{> "breadcrumbs"}}
        </div>
        <div class="gh-post-head gh-container">
            <div class="gh-post-head-wrapper">
                {{#if feature_image}}
                <picture>
                    <source srcset="{{img_url feature_image size="3000" format="webp" }} 3000w, {{img_url feature_image size="2400"
                        format="webp" }} 2400w, {{img_url feature_image size="2000" format="webp" }} 2000w, {{img_url feature_image
                        size="1600" format="webp" }} 1600w, {{img_url feature_image size="1000" format="webp" }} 1000w, {{img_url
                        feature_image size="800" format="webp" }} 800w, {{img_url feature_image size="500" format="webp" }} 500w"
                        sizes="(max-width: 1680px) 95vw, (min-width: 1681px) 1600px" type="image/webp">
                    <img srcset="{{img_url feature_image size="3000" }} 3000w, {{img_url feature_image size="2400" }} 2400w, {{img_url
                        feature_image size="2000" }} 2000w, {{img_url feature_image size="1600" }} 1600w, {{img_url feature_image
                        size="1000" }} 1000w, {{img_url feature_image size="800" }} 800w, {{img_url feature_image size="500" }} 500w"
                        sizes="(max-width: 1680px) 95vw, (min-width: 1681px) 1600px" src="{{img_url feature_image size="3000"}}"
                        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" class="gh-post-feature-image" />
                </picture>
                {{else}}
                <div class="gh-post-feature-image-plug"></div>
                {{/if}}
                <div class="gh-post-head-content">
                    <div class="gh-post-head-content-container">
                        <div class="gh-post-head-meta">
                            {{#if authors}}
                            <div class="gh-post-head-authors">
                                <span class="gh-post-head-author-span">{{t "By"}}</span>
                                {{#foreach authors}}
                                <a class="gh-post-head-author" href="{{url}}">
                                    {{#if profile_image}}
                                    <picture>
                                        <source srcset="{{img_url profile_image size="200" format="webp" }} 200w, {{img_url
                                            profile_image size="100" format="webp" }} 100w" sizes="36px" type="image/webp">
                                        <img class="gh-post-head-author-image" srcset="{{img_url profile_image size="200"}} 200w,
                                            {{img_url profile_image size="100" }} 100w" sizes="36px"
                                            src="{{img_url profile_image size="200"}}" alt="{{name}} {{t "profile image"}}" />
                                    </picture>
                                    {{else}}
                                    <img class="gh-post-head-author-image" src="{{asset " imagesAndIcons/AuthorAvatarDefault.jpg"}}"
                                        alt="{{name}} {{t "profile image"}}">
                                    {{/if}}
                                    <span class="gh-post-head-author-name">{{name}}</span>
                                </a>
                                {{/foreach}}
                            </div>
                            {{/if}}
                            <span class="gh-post-head-date">
                                <time datetime="{{date format=" YYYY-MM-DD"}}">{{date format="MMM D, YYYY"}}</time>
                            </span>
                            {{#if reading_time}}
                            <span class="gh-post-head-read-time">{{reading_time}}</span>
                            {{/if}}
                        </div>
                        <h1 class="gh-post-page-title">{{title}}</h1>
                        {{#if excerpt}}
                        <p class="gh-post-page-excerpt">{{excerpt}}</p>
                        {{/if}}
                    </div>
                    <div class="gh-post-head-share-block">
                        {{>share-block}}
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
        <div class="gh-post-main-wrapper">
            <div class="gh-post-page-main{{#if comments}} with-comments{{/if}}">
                <div class="gh-post-content">
                    {{content}}
                </div>
                 <div class="gh-post-page-footer">
                    <div class="gh-post-page-meta">
                        <div class="gh-post-page-meta-main">
                            {{#if authors}}
                            <div class="gh-post-page-authors">
                                <span class="gh-post-page-authors-span">{{t "By"}}</span>
                                {{#foreach authors}}
                                <a class="gh-post-page-author" href="{{url}}">
                                    {{#if profile_image}}
                                    <picture>
                                        <source srcset="{{img_url profile_image size="100" format="webp" }} 100w" sizes="36px" type="image/webp">
                                        <img class="gh-post-page-author-image" srcset="{{img_url profile_image size="100" }} 100w" sizes="36px" src="{{img_url profile_image size="
                                            100"}}" alt="{{name}} {{t "profile image"}}" />
                                    </picture>
                                    {{else}}
                                    <img class="gh-post-page-author-image" src="{{asset " imagesAndIcons/AuthorAvatarDefault.jpg"}}"
                                        alt="{{name}} {{t "profile image"}}">
                                    {{/if}}
                                    <span class="gh-post-page-author-name">{{name}}</span>
                                </a>
                                {{/foreach}}
                            </div>
                            {{/if}}
                            <span class="gh-post-page-date">
                                {{t "Updated on"}} <time datetime="{{date format=" YYYY-MM-DD"}}">{{date format="MMM D, YYYY"}}</time>
                            </span>
                        </div>
                        {{>share-block}}
                    </div>
                    {{#if tags}}
                        <div class="gh-post-page-tags">
                            {{#foreach tags}}
                            <a href="{{url}}" class="gh-tag">{{name}}</a>
                            {{/foreach}}
                        </div>
                    {{/if}}
                </div>
                {{#if comments}}
                <div class="gh-container gh-comments-section">
                {{comments title="Comments" count="true" mode="auto" saturation="80"}}
                </div>
                {{/if}}
                {{#get "posts" filter="id:-{{id}}" limit="4" order="published_at desc" include="authors,tags"}}
                {{#if posts}}
                <div class="gh-read-next-section">
                    <h2 class="gh-read-next-title">{{t "Read Next"}}</h2>
                    <div class="gh-read-next-posts{{#match @custom.archive_type "List" }} list{{/match}}">
                        {{#foreach posts}}
                        {{>post-card}}
                        {{/foreach}}
                    </div>
                </div>
                {{/if}}
                {{/get}}
            </div>
        </div>
    </article>
</main>

{{/post}}